# Execute WRDS CRSP SQL Queries

In [1]:
import numpy as np
import pandas as pd

In [20]:
queries = pd.read_csv("senate_sql_queries.csv")
# queries = pd.read_csv("house_sql_queries.csv")
queries

     ticker_q                                                sql
0     0QZI.IL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1     3V64.TI  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
2           A  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
3          AA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
4       AAGIY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
...       ...                                                ...
1169     ZNGA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1170  ZNGA.SW  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1171      ZTS  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1172     ^MWE  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
1173     ^RGP  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...

[1174 rows x 2 columns]

In [11]:
queries_test = queries[2:51]
queries_test

   ticker_q                                                sql
2         A  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
3        AA  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
4     AAGIY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
5    AAIC$B  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
6     AAIGF  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
7       AAL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
8     AAM$A  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
9       AAN  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
10     AAPL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
11     AAPl  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
12     AATC  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
13    AAVMY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
14     AAWW  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
15      AAl  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
16       AB  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
17    ABALX  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
18      ABB  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
19     ABBV  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
20      ABC  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
21     ABCB  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
22     ABEV  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
23      ABM  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
24     ABMD  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
25     ABNB  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
26      ABT  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
27     ACAD  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
28      ACB  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
29    ACCYY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
30     ACGL  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
31     ACHC  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
32      ACI  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
33     ACIW  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
34      ACM  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
35      ACN  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
36    ACSAY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
37     ACST  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
38       AD  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
39  ADA-USD  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
40     ADBE  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
41      ADC  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
42   ADDDYY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
43    ADDYY  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
44      ADI  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
45      ADM  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
46      ADP  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
47      ADS  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
48     ADSK  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
49     ADTN  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...
50     ADUS  SELECT * FROM crsp.wrds_dsfv2_query WHERE tick...

## Fetch

In [21]:
import wrds

from IPython import display
from tqdm.notebook import tqdm

In [22]:
crsp_output = pd.DataFrame(columns=['permno', 'secinfostartdt', 'secinfoenddt', 'securitybegdt',
       'securityenddt', 'securityhdrflg', 'hdrcusip', 'hdrcusip9', 'cusip',
       'cusip9', 'primaryexch', 'conditionaltype', 'exchangetier',
       'tradingstatusflg', 'securitynm', 'shareclass', 'usincflg',
       'issuertype', 'securitytype', 'securitysubtype', 'sharetype',
       'securityactiveflg', 'delactiontype', 'delstatustype', 'delreasontype',
       'delpaymenttype', 'ticker', 'tradingsymbol', 'permco', 'siccd', 'naics',
       'icbindustry', 'nasdcompno', 'nasdissuno', 'issuernm', 'yyyymmdd',
       'dlycaldt', 'dlydelflg', 'dlyprc', 'dlyprcflg', 'dlycap', 'dlycapflg',
       'dlyprevprc', 'dlyprevprcflg', 'dlyprevdt', 'dlyprevcap',
       'dlyprevcapflg', 'dlyret', 'dlyretx', 'dlyreti', 'dlyretmissflg',
       'dlyretdurflg', 'dlyorddivamt', 'dlynonorddivamt', 'dlyfacprc',
       'dlydistretflg', 'dlyvol', 'dlyclose', 'dlylow', 'dlyhigh', 'dlybid',
       'dlyask', 'dlyopen', 'dlynumtrd', 'dlymmcnt', 'dlyprcvol', 'shrstartdt',
       'shrenddt', 'shrout', 'shrsource', 'shrfactype', 'shradrflg', 'disexdt',
       'disseqnbr', 'disordinaryflg', 'distype', 'disfreqtype',
       'dispaymenttype', 'disdetailtype', 'distaxtype', 'disorigcurtype',
       'disdivamt', 'disfacpr', 'disfacshr', 'disdeclaredt', 'disrecorddt',
       'dispaydt', 'dispermno', 'dispermco', 'vwretd', 'vwretx', 'ewretd',
       'ewretx', 'sprtrn'])

In [23]:
def fetch(queries, crsp_output):
    db = wrds.Connection(wrds_username='yiyangc')
    
    for sql in tqdm(queries["sql"], desc="Fetching CRSP"):
        r = db.raw_sql(sql, date_cols=['dlycaldt'])
        crsp_output = pd.concat([crsp_output, r]).reset_index(drop=True)
    
    db.close()
    
    return crsp_output

In [24]:
sw_crsp = fetch(queries, crsp_output)
sw_crsp

Loading library list...
Done

Fetching CRSP:   0%|          | 0/1174 [00:00<?, ?it/s]

,permno,secinfostartdt,secinfoenddt,securitybegdt,securityenddt,securityhdrflg,hdrcusip,hdrcusip9,cusip,cusip9,...,disdeclaredt,disrecorddt,dispaydt,dispermno,dispermco,vwretd,vwretx,ewretd,ewretx,sprtrn
0,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,0.000776,0.000719,0.003224,0.003202,0.000005
1,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,0.002292,0.002271,0.003274,0.003263,0.002759
2,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,-0.038609,-0.038637,-0.034964,-0.035165,-0.039414
3,87432.0,2021-04-01,2022-06-30,1999-11-18,2022-06-30,Y,00846U10,00846U101,00846U10,00846U101,...,None,None,None,None,None,-0.015863,-0.016211,-0.015948,-0.016225,-0.014831
4,16347.0,2019-12-27,2022-06-30,2016-11-01,2022-06-30,Y,01387210,013872106,01387210,013872106,...,None,None,None,None,None,-0.010146,-0.010165,-0.007105,-0.007128,-0.010105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5752,13169.0,2021-03-31,2022-05-20,2011-12-16,2022-05-20,Y,98986T10,98986T108,98986T10,98986T108,...,None,None,None,None,None,0.001229,0.001182,0.002083,0.001997,0.000762
5753,13169.0,2021-03-31,2022-05-20,2011-12-16,2022-05-20,Y,98986T10,98986T108,98986T10,98986T108,...,None,None,None,None,None,0.003591,0.003547,0.002157,0.002080,0.003883
5754,13788.0,2020-04-14,2022-06-30,2013-02-01,2022-06-30,Y,98978V10,98978V103,98978V10,98978V103,...,None,None,None,None,None,-0.005228,-0.005256,-0.003887,-0.003931,-0.005813
5755,13788.0,2020-04-14,2022-06-30,2013-02-01,2022-06-30,Y,98978V10,98978V103,98978V10,98978V103,...,None,None,None,None,None,0.008491,0.008384,0.006215,0.006129,0.009535
5756,13788.0,2020-04-14,2022-06-30,2013-02-01,2022-06-30,Y,98978V10,98978V103,98978V10,98978V103,...,None,None,None,None,None,-0.012167,-0.012189,-0.009641,-0.009683,-0.012992

In [25]:
# sw_crsp.to_csv("../data/senate_crsp.csv", index=False)

In [29]:
compression_opts = dict(method='zip', archive_name='senate_crsp.csv')  
sw_crsp.to_csv('senate_crsp.zip', index=False,compression=compression_opts)

In [30]:
%%bash
mv senate_crsp.zip ../data/senate_crsp.zip