# Construct Portofolio (BS Data)

In [6]:
import numpy as np
import pandas as pd

# set the max columns to none
pd.set_option('display.max_columns', None)

In [7]:
bs_data = pd.read_csv("../data/sacerdote/bs_data.csv")
bs_data

,ticker,permno,siccd,evtdate,sell,buy,amount,amountE,asset,firstname,lastname,gender,fecid,govtrack_id,icpsr_id,votesmart_id,id,cid,date_of_birth,district,congress,party,seniority,frequent_trader
0,CBNK,91397.0,6036.0,2012-01-03,1.0,0.0,250k+,750000.5,Capital World Growth & Income Fund,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
1,OPY,78451.0,6211.0,2012-01-03,0.0,1.0,100k-249k,175000.5,Oppenheimer Developing Markets Fund,Brad,Schneider,M,H2IL10068,412534.0,21326.0,134948.0,S001190,N00033101,1961-08-20,10,113.0,D,2.0,1.0
2,STZ,64899.0,2084.0,2012-01-03,1.0,0.0,1k-10k,8000.5,Constellation Brands,Adam,Schiff,M,H0CA27085,400361.0,20104.0,9489.0,S001150,N00009585,1960-06-22,29,112.0,D,12.0,0.0
3,HON,10145.0,3724.0,2012-01-03,0.0,1.0,1k-10k,8000.5,Honeywell International,Alan,Lowenthal,M,H2CA00104,412521.0,21313.0,16469.0,L000579,N00033274,1941-03-08,47,113.0,D,2.0,0.0
4,NUAN,82759.0,7372.0,2012-01-03,1.0,0.0,10k-49k,32500.5,Nuance Communications,Bill,Owens,NaN,H0NY23081,NaN,NaN,NaN,NaN,N00031011,NaN,NY23,112.0,D,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50600,BRK.B,NaN,NaN,2020-12-24,0.0,1.0,1k-10k,1000.0,NaN,Donald,Beyer,M,H4VA08224,412657.0,21554.0,1707.0,B001292,N00036018,1950-06-20,VA08,114.0,D,2.0,1.0
50601,OHI,77857.0,8062.0,2020-12-31,1.0,0.0,10k-49k,100000.0,NaN,Billy,Long,M,H0MO07113,412445.0,21150.0,123401.0,L000576,N00030676,1955-08-11,MO07,112.0,R,2.0,0.0
50602,SO,18411.0,4911.0,2020-12-31,1.0,0.0,1k-10k,50000.0,NaN,Billy,Long,M,H0MO07113,412445.0,21150.0,123401.0,L000576,N00030676,1955-08-11,MO07,112.0,R,2.0,0.0
50603,KMI,12558.0,4924.0,2020-12-31,1.0,0.0,50k-99k,50000.0,NaN,Billy,Long,M,H0MO07113,412445.0,21150.0,123401.0,L000576,N00030676,1955-08-11,MO07,112.0,R,2.0,0.0
50604,LUMN,60599.0,4813.0,2020-12-31,1.0,0.0,10k-49k,15000.0,NaN,Billy,Long,M,H0MO07113,412445.0,21150.0,123401.0,L000576,N00030676,1955-08-11,MO07,112.0,R,2.0,0.0

In [9]:
rh = bs_data[bs_data["fecid"]=="H8NY24066"]
rh

,ticker,permno,siccd,evtdate,sell,buy,amount,amountE,asset,firstname,lastname,gender,fecid,govtrack_id,icpsr_id,votesmart_id,id,cid,date_of_birth,district,congress,party,seniority,frequent_trader
0,CBNK,91397.0,6036.0,2012-01-03,1.0,0.0,250k+,750000.5,Capital World Growth & Income Fund,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
12,DRI,81655.0,5812.0,2012-01-04,0.0,1.0,10k-49k,32500.5,Darden Restaurants,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
30,FDO,53866.0,5331.0,2012-01-05,0.0,1.0,10k-49k,32500.5,Family Dollar Stores,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
35,EBAY,86356.0,7389.0,2012-01-05,0.0,1.0,10k-49k,32500.5,eBay Inc,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
46,PPL,22517.0,4911.0,2012-01-05,0.0,1.0,10k-49k,32500.5,PPL Corp,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29725,QRVO,85035.0,3670.0,2016-12-28,1.0,0.0,1k-10k,1000.0,NaN,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
29727,HES,28484.0,1311.0,2016-12-28,1.0,0.0,1k-10k,8000.5,NaN,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
29749,ALNY,90178.0,2834.0,2016-12-30,0.0,1.0,50k-99k,50000.0,NaN,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
29850,CAH,21371.0,8099.0,2017-01-06,1.0,0.0,100k-249k,100000.0,NaN,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,0.0
29854,PRGO,77182.0,2834.0,2017-01-06,1.0,0.0,250k+,250000.0,NaN,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,0.0

In [10]:
rh["permno"].unique()

array([91397., 81655., 53866., 86356., 22517., 91650., 52978., 39538.,
       20482., 52090., 43449., 10145., 41080., 44644., 19561., 85348.,
       10147., 17830., 77606., 62148., 34833., 89454., 14541., 25419.,
       10516., 89071., 65875., 28484., 84398., 59010., 57665., 81774.,
       11762., 75039., 77338., 92156., 13928., 19350., 16678., 27828.,
       22111., 75489., 22103., 39642., 17750., 10107., 11850., 64311.,
       57904., 10104., 75224., 84381., 14593., 75100., 28222., 56573.,
       90386., 15069., 89525., 26825., 60097., 66093., 89217., 22509.,
       69892., 88661., 90301., 60442., 35554., 22592., 42534., 87447.,
       73139., 90448., 18729., 13856., 20626., 86034., 70332., 52484.,
       80286., 49656., 21776., 59328., 76076., 91320., 12060., 12490.,
       13356., 21178., 84032., 22293., 26403., 28302., 39490., 21936.,
       66157., 59176., 60628., 77668., 76221., 82642., 47896., 86158.,
       86868., 59408., 34032., 75154., 85913., 92709., 90505., 25785.,
       14277., 92490., 92121., 88172., 91130., 90373., 84373., 86755.,
       77274., 84788., 67467., 12369., 69032., 37584., 12410., 76695.,
       75844., 80924., 92655., 52695., 10138., 77178., 80210., 79244.,
       67774., 88668., 91575., 83462., 90805., 89976., 89475., 89290.,
       85035., 90319., 55001., 18163., 13407., 14694., 27887., 77453.,
       16600., 66181., 81481., 86454., 77078., 92890., 81540., 75182.,
       90751., 21371., 84275., 12684., 83906., 80167., 23393., 88233.,
       77182., 64282., 77702., 85888., 90979., 44329., 90178., 78916.,
       88893.])

In [11]:
rh[rh["permno"]==91397]

,ticker,permno,siccd,evtdate,sell,buy,amount,amountE,asset,firstname,lastname,gender,fecid,govtrack_id,icpsr_id,votesmart_id,id,cid,date_of_birth,district,congress,party,seniority,frequent_trader
0,CBNK,91397.0,6036.0,2012-01-03,1.0,0.0,250k+,750000.5,Capital World Growth & Income Fund,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0

In [ ]:
[START_DATE, "2012-01-03", 0, 1]
["2012-01-03", END_DATE, -750000.5, 0]

In [12]:
rh[rh["permno"]==81655]

,ticker,permno,siccd,evtdate,sell,buy,amount,amountE,asset,firstname,lastname,gender,fecid,govtrack_id,icpsr_id,votesmart_id,id,cid,date_of_birth,district,congress,party,seniority,frequent_trader
12,DRI,81655.0,5812.0,2012-01-04,0.0,1.0,10k-49k,32500.5,Darden Restaurants,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
298,DRI,81655.0,5812.0,2012-01-25,0.0,1.0,10k-49k,32500.5,Darden Restaurants,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
1598,DRI,81655.0,5812.0,2012-04-23,1.0,0.0,10k-49k,32500.5,Darden Restaurants,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
1646,DRI,81655.0,5812.0,2012-04-27,1.0,0.0,10k-49k,32500.5,Darden Restaurants,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
2425,DRI,81655.0,5812.0,2012-07-02,1.0,0.0,100k-249k,175000.5,Darden Restaurants,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0
4049,DRI,81655.0,5812.0,2012-09-26,1.0,0.0,100k-249k,100000.0,NaN,Richard,Hanna,NaN,H8NY24066,NaN,NaN,NaN,NaN,N00030197,NaN,NY24,112.0,R,NaN,1.0