# Selection Bias Test

In [7]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [10]:
pfd = pd.read_csv("../data/pfd_clean/PFD_trans.csv")
pfd

C:\Users\Yiyan\AppData\Local\Temp/ipykernel_5364/4202235598.py:1: DtypeWarning: Columns (3,8,11,13,24) have mixed types. Specify dtype option on import or set low_memory=False.
  pfd = pd.read_csv("../data/pfd_clean/PFD_trans.csv")

,ID,Chamber,CID,CalendarYear,ReportType,Asset4SJD,Asset4Transacted,Orgname,Ultorg,RealCode,...,Asset4Purchased,Asset4Sold,Asset4Exchanged,Asset4Date,Asset4DateText,Asset4TransAmt,Asset4ExactAmt,CofD,TransNotes,Dupe
0,A170015889,s,N00009888,17,Y,S,Tortoise MLP & Pipeline Instl,Tortoise MLP & Pipeline Fund,NaN,NaN,...,x,,,NaN,09/29/2017,C,NaN,,--,d
1,A170015888,s,N00009888,17,Y,S,Vanguard Dividend Appreciation ETF,Vanguard Dividend Appreciation ETF,NaN,NaN,...,x,,,NaN,07/19/2017,C,NaN,,--,d
2,A170015887,s,N00009888,17,Y,S,UBS ETRACS Alerian MLP Infras ETN,UBS ETRACS Alerian MLP Infras ETN,NaN,NaN,...,x,,,NaN,07/19/2017,C,NaN,,--,d
3,A170015886,s,N00009888,17,Y,S,Tortoise MLP & Pipeline Instl,Tortoise MLP & Pipeline Fund,NaN,NaN,...,x,,,NaN,07/17/2017,C,NaN,,--,d
4,A170015885,s,N00009888,17,Y,S,DTC US Active Equity Common Trust Fund,DTC US Active Equity Common Trust Fund,NaN,NaN,...,x,,,NaN,07/07/2017,E,NaN,,--,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377663,C160015720,s,N00030245,16,A,S,Oakmark Equity And Income Investor,Oakmark Equity & Income Fund,NaN,NaN,...,,x,,NaN,10/31/2016,B,NaN,,Sale (Full),d
377664,C160015719,s,N00030245,16,A,S,Oakmark Equity And Income Investor,Oakmark Equity & Income Fund,NaN,NaN,...,,x,,NaN,03/28/2016,B,NaN,,Sale (Partial),d
377665,C160015718,s,N00030245,16,A,S,First Eagle Global I,First Eagle Global Fund,NaN,NaN,...,,x,,NaN,10/31/2016,B,NaN,,Sale (Partial),d
377666,C160015717,s,N00030245,16,A,S,First Eagle Global I,First Eagle Global Fund,NaN,NaN,...,,x,,NaN,03/28/2016,B,NaN,,Sale (Partial),d
377667,C160015716,s,N00030245,16,A,S,IVA Worldwide I,IVA Worldwide I,NaN,NaN,...,,x,,NaN,10/31/2016,B,NaN,,Sale (Partial),d